@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<List<AnimalView.Dnn.AnimalView_Modul.Models.Animal>>
@using System.Security.Principal;
@*@{
        Layout = null;
    }*@
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css">
<style>
        .slider {
            width: 90%;
            min-width: 280px;
            margin: 10px auto;
        }
        .slick-slide {margin: 0px 5px;}
        .slick-slide img {width: 100%;}
        .slick-prev:before, .slick-next:before {
            color: black;
        }
        .slick-slide {
            transition: all ease-in-out .3s;
            opacity: .2;
        }
        .slick-active { opacity: .5; }
        .slick-current { opacity: 1; }
</style>

@if (Model.Count == 0)
{
    <p>Nincsenek állatok</p>
}
else
{
    <section class="center slider">
        @foreach (var animal in Model)
        {
            <div>
                <img class="avImage" src="http://98.71.34.143:80/Portals/0/Hotcakes/Data/products/@animal.AnimalId/medium/@animal.Image" alt=@animal.Image ; />
                @if (animal.IsFish)
                {
                    <table class="avTable">
                        <tr>
                            <td class="avAttrubuteName">Név: </td>
                            <td class="avAttrubuteValue">@animal.Name;</td>
                        </tr>
                        <tr>
                            <td class="avAttrubuteName">Születési idő:</td>
                            <td class="avAttrubuteValue">@animal.BirthDate;</td>
                        </tr>
                        <tr>
                            <td class="avAttrubuteName">Jellemzők: </td>
                            <td class="avAttrubuteValue">@animal.Traits;</td>
                        </tr>
                        <tr>
                            <td class="avAttrubuteName">Tartása: </td>
                            <td class="avAttrubuteValue">@animal.Care;</td>
                        </tr>
                        <tr class="avPrice">
                            <td class="avAttrubuteName">Vízparaméterek:</td>
                            <td class="avAttrubuteValue">@animal.Water</td>
                        </tr>
                        <tr class="avPrice">
                            <td class="avAttrubuteName">Táplálkozás:</td>
                            <td class="avAttrubuteValue">@animal.Feeding</td>
                        </tr>
                        <tr class="avPrice">
                            <td class="avAttrubuteName">Szaporítása:</td>
                            <td class="avAttrubuteValue">@animal.Breeding</td>
                        </tr>
                        <tr class="avPrice">
                            <td class="avAttrubuteName">Elérhető:</td>
                            <td class="avAttrubuteValue">@animal.Quantity Darab</td>
                        </tr>
                        <tr class="avPrice">
                            <td class="avAttrubuteName">Ár:</td>
                            <td class="avAttrubuteValue">@animal.Price Ft</td>
                        </tr>
                    </table>
                }
                else
                {
                    <table class="avTable">
                        <tr>
                            <td class="avAttrubuteName">Név: </td>
                            <td class="avAttrubuteValue">@animal.Name;</td>
                        </tr>
                        <tr>
                            <td class="avAttrubuteName">Nem: </td>
                            <td class="avAttrubuteValue">@animal.Gender;</td>
                        </tr>
                        <tr>
                            <td class="avAttrubuteName">Születési idő:</td>
                            <td class="avAttrubuteValue">@animal.BirthDate;</td>
                        </tr>
                        <tr>
                            <td class="avAttrubuteName">Genetika: </td>
                            <td class="avAttrubuteValue">@animal.Genetics;</td>
                        </tr>
                        <tr>
                            <td class="avAttrubuteName">Személyiség: </td>
                            <td class="avAttrubuteValue">@animal.Personality;</td>
                        </tr>
                        <tr class="avPrice">
                            <td class="avAttrubuteName">Ár:</td>
                            <td class="avAttrubuteValue">@animal.Price Ft</td>
                        </tr>
                    </table>
                }
                <a href="@Url.Action("Create","Animal", new{ AnimalBvin = animal.AnimalId})">Lefoglalom</a>
            </div>
        }
    </section>
}

<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".center").slick({
            dots: true,
            infinite: true,
            centerMode: true,
            centerPadding: '60px'
            ,
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 10000,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        arrows: false,
                        centerPadding: '40px',
                        slidesToShow: 1,
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        arrows: false,
                        centerPadding: '20px',
                        slidesToShow: 1,
                        dots: false
                    }
                }
            ]
        });
    });
</script>