@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<List<AnimalView.Dnn.AnimalView_Modul.Models.Animal>>

@*@{
        Layout = null;
    }*@
<h1>Szakállas agámák</h1>
@if (Model.Count == 0)
{
    <p>Nincsenek állatok</p>
}
else
{
    <section class="slider">
        @foreach (var animal in Model)
        {
            <div>
                <img alt=@animal.Image ; />
                <table>
                    <tr><td>@animal.Name;</td></tr>
                    <tr><td>@animal.Gender;</td></tr>
                    <tr><td>@animal.BirthDate;</td></tr>
                    <tr><td>@animal.Genetics;</td></tr>
                    <tr><td>@animal.Personality;</td></tr>
                    <tr><td>@animal.Price;</td></tr>
                </table>
            </div>
        }
    </section>
}

<script>
    var a = @Model.Count
    console.log(a)
</script>