@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<List<AnimalView.Dnn.AnimalView_Modul.Models.Animal>>

@*@{
        Layout = null;
    }*@
@if (Model.Count == 0)
{
    <p>Nincsenek állatok</p>
}
else
{
    <section class="slider">
        @foreach (var animal in Model)
        {
            <div>
                <img class="avImage" src="http://98.71.34.143:80/Portals/0/Hotcakes/Data/products/@animal.AnimalId/medium/@animal.Image" alt=@animal.Image ; />
                <table class="avTable">
                    <tr>
                        <td class="avAttrubuteName">Név: </td>
                        <td class="avAttrubuteValue">@animal.Name;</td>
                    </tr>
                    <tr>
                        <td class="avAttrubuteName">Nem: </td>  
                        <td class="avAttrubuteValue">@animal.Gender;</td>
                    </tr>
                    <tr>
                        <td class="avAttrubuteName">Születési idő:</td>
                        <td class="avAttrubuteValue">@animal.BirthDate;</td>
                    </tr>
                    <tr>
                        <td class="avAttrubuteName">Genetika: </td>
                        <td class="avAttrubuteValue">@animal.Genetics;</td>
                    </tr>
                    <tr>
                        <td class="avAttrubuteName">Személyiség: </td>
                        <td class="avAttrubuteValue">@animal.Personality;</td>
                    </tr>
                    <tr class="avPrice">
                        <td class="avAttrubuteName">Ár:</td>
                        <td class="avAttrubuteValue">@animal.Price;</td>
                    </tr>
                </table>
                <button>Lefoglalom</button>
            </div>
        }
    </section>
}
