@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<List<AnimalView.Dnn.AnimalView_Modul.Models.Animal>>

@*@{
        Layout = null;
    }*@
@if (Model.Count == 0)
{
    <p>Nincsenek állatok</p>
}
else
{
    <section class="slider">
        @foreach (var animal in Model)
        {
            <div>
                <img alt=@animal.Image ; />
                <table class="aVTable">
                    <tr>
                        <td class="aVAttrubuteName">Név: </td>
                        <td class="aVAttrubuteValue">@animal.Name;</td>
                    </tr>
                    <tr>
                        <td class="aVAttrubuteName">Nem: </td>  
                        <td class="aVAttrubuteValue">@animal.Gender;</td>
                    </tr>
                    <tr>
                        <td class="aVAttrubuteName">Születési idő:</td>
                        <td class="aVAttrubuteValue">@animal.BirthDate;</td>
                    </tr>
                    <tr>
                        <td class="aVAttrubuteName">Genetika: </td>
                        <td class="aVAttrubuteValue">@animal.Genetics;</td>
                    </tr>
                    <tr>
                        <td class="aVAttrubuteName">Személyiség: </td>
                        <td class="aVAttrubuteValue">@animal.Personality;</td>
                    </tr>
                    <tr class="aVPrice">
                        <td class="aVAttrubuteName">Ár:</td>
                        <td class="aVAttrubuteValue">@animal.Price;</td>
                    </tr>
                </table>
                <button>Lefoglalom</button>
            </div>
        }
    </section>
}
