@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage <AnimalView.Dnn.AnimalView_Modul.Models.Settings>

@using DotNetNuke.Web.Mvc.Helpers

<h2 id="dnnSitePanel-BasicSettings" class="dnnFormSectionHead"><a href="" class="dnnSectionExpanded">@Dnn.LocalizeString("BasicSettings")</a></h2>
<fieldset>
    <div class="dnnFormItem">
        <div class="dnnLabel" style="position: relative;">
            @Html.LabelFor(m => Model.Setting1, new { @class = "col-md-2 control-label" })
        </div>
        @Html.TextBoxFor(m => Model.Setting1)
    </div>
    <div class="dnnFormItem">
        <div class="dnnLabel" style="position: relative;">
            @Html.LabelFor(m => Model.Setting2, new { @class = "col-md-2 control-label" })
        </div>
        @Html.TextBoxFor(m => Model.Setting2)
    </div>
    <div class="dnnFormItem">
        <div class="dnnLabel" style="position: relative;">
            Animal
        </div>
        <div>
            <label for="radioSzaki">Szakállas agáma</label><input type="radio" name="cat" value="e197c105-c09e-47e0-af1a-918c43f3b74f" id="radioSzaki"/>
            <label for="radioLGekko">Leopárd Gekkó</label><input type="radio" name="cat" value="1cb596ea-804c-48ee-8baa-ab42beda656d" id="radioLGekko"/>
            <label for="radioVGekko">Vitorlás Gekkó</label><input type="radio" name="cat" value="1cb596ea-804c-48ee-8baa-ab42beda656d" id="radioVGekko"/>
            <label for="radioSzaki">Szakállas agáma</label><input type="radio" name="cat" value="e197c105-c09e-47e0-af1a-918c43f3b74f" id="radioSzaki"/>
            <label for="radioSzaki">Szakállas agáma</label><input type="radio" name="cat" value="e197c105-c09e-47e0-af1a-918c43f3b74f" id="radioSzaki"/>
            <label for="radioSzaki">Szakállas agáma</label><input type="radio" name="cat" value="e197c105-c09e-47e0-af1a-918c43f3b74f" id="radioSzaki"/>
            <label for="radioSzaki">Szakállas agáma</label><input type="radio" name="cat" value="e197c105-c09e-47e0-af1a-918c43f3b74f" id="radioSzaki"/>
        </div>
        
        
    </div>
</fieldset>

